@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;
  color: #fff;
  overflow: scroll;
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    overflow-y: scroll;
    height: 0;
  }
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

// app transitions
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.app {
  background-color: #000000;
  min-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

.section-title {
  margin-bottom: 30px;
}

.section-title h2 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.p-40 {
  padding: 40px 0;
}
